<md-dialog ng-cloak flex-sm="100" flex-md="100" flex-gt-md="50">
  <div layout="column">

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 class="md-title">{{!fretes.edit ? 'Novo Cliente': 'Editar Cliente'}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="fretes.cancel()">
          <i class="material-icons">close</i>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">

        <form name="cursoForm" validate>   
          
          <md-input-container class="md-block">
            <label>Nome</label>
            <input type="text" ng-model="cliente.nome">
          </md-input-container>

          <div layout="row">
          	<md-input-container>
         		<label>CEP</label>
        		<input type="text" ng-model="cliente.cep" ng-change="clientes.loadEndereco(cliente, cliente.cep)" maxlength="8">
        	</md-input-container>
        	<md-input-container>
         		<md-checkbox md-no-ink ng-model="data.cb1" aria-label="Não encontrei meu endereço" class="md-primary">
         		Não encontrei meu endereço
          		</md-checkbox>
        	</md-input-container>
          </div>

          <div layout="row">
          	
			<md-input-container flex="90">
				<label>Endereço</label>
				<input type="text" ng-model="cliente.logradouro">
			</md-input-container>

			<md-input-container flex="10">
				<label>Número</label>
				<input type="text" ng-model="cliente.numero">
			</md-input-container>

          </div>

          <div layout="row">
          	
			<md-input-container flex="40">
				<label>Complemento</label>
				<input type="text" ng-model="cliente.complemento">
			</md-input-container>

			<md-input-container flex="40">
				<label>Bairro</label>
				<input type="text" ng-model="cliente.bairro">
			</md-input-container>

			<md-input-container flex="20">
				<label>Telefone</label>
				<input type="text" ng-model="cliente.telefone">
			</md-input-container>

          </div>

          <div layout="row" ng-if="!data.cb1">
            <md-input-container class="md-block" flex="33">
              <label>UF</label>
			  <input type="text" ng-model="cliente.estado">
            </md-input-container>
            <md-input-container class="md-block" flex="66">
              <label>Cidade</label>
			  <input type="text" ng-model="cliente.cidade">
            </md-input-container>
          </div>

          <div layout="row" ng-if="data.cb1">
            <md-input-container class="md-block" flex="33">
              <md-select placeholder="UF" ng-model="cliente.estado" md-on-open="clientes.loadEstados()">
                <md-option ng-repeat="estado in clientes.estados" value="{{estado.geonameId}}">
                  {{estado.name}}
                </md-option>
              </md-select>
            </md-input-container>
            <md-input-container class="md-block" flex="66">
              <md-select placeholder="Cidade" ng-model="cliente.cidade" md-on-open="clientes.loadCidades(cliente.estado)">
                <md-option ng-repeat="cidade in clientes.cidades" value="{{cidade.geonameId}}">
                  {{cidade.name}}
                </md-option>
              </md-select>
            </md-input-container>
          </div>
          
        </form>
      </div>
    </md-dialog-content>
  </div>

  <md-dialog-actions layout="row" layout-align="end end">
    <md-button class="md-raised md-primary" ng-disabled="cursoForm.$invalid" ng-click="">{{!cr.edit ? 'Novo' : 'Editar'}}</md-button>
    <md-button class="md-raised md-warn" ng-click="">Cancelar</md-button>

  </md-dialog-actions>
</md-dialog>